<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd"
        default-lazy-init="true" default-autowire="constructor">

<aop:aspectj-autoproxy/>

<import resource="loginn/backend/plugin/crowbar.xml"/>
<import resource="loginn/backend/plugin/awsSns.xml"/>


<context:component-scan base-package="lt.tlistas.loginn.backend">
<context:include-filter type="regex" expression="lt.tlistas.loginn.backend.aspect.*"/>
<context:include-filter type="regex" expression="lt.tlistas.loginn.backend.exception.*"/>
<context:include-filter type="regex" expression="lt.tlistas.loginn.backend.handler.*"/>
<context:include-filter type="regex" expression="lt.tlistas.loginn.backend.route.*"/>
</context:component-scan>

        </beans>